  <nav class="nav">

    <%= image_tag "nav-button-gray", id:"nav-btn-gray", class:"nav__expand hide" %>
    <div id="circle-gray" class="circle bg-blue nav__expand hide"></div>
    <%= image_tag "nav-button-white", id:"nav-btn-white", class:"nav__expand" %>
    <div id="circle-white" class="circle bg-blue nav__expand"></div>

    <ul class="nav__list">
      <li class="nav__listitem">
        <a href="#">
          <div class="circle-lg"></div>
          <p>Change profile</p>
        </a>
      </li>
      <li class="nav__listitem <%= "nav__listitem-active" if @page == 'dashboard' %>">
        <%= link_to dashboard_path, id:"dashboard-icon" do %>
          <p>Dashboard</p>
        <% end %>
      </li>
      <li class="nav__listitem <%= "nav__listitem-active" if @page == 'payments' %>">
        <%= link_to  payments_path, id:"payments-icon" do %>
          <p>Payments</p>
        <% end %>
      </li>
      <li id="pri-menu-end" class="nav__listitem  <%= "nav__listitem-active" if @page == 'invoices' %>">
        <%= link_to  invoices_path, id:"invoices-icon" do %>
          <p>Invoices</p>
        <% end %>
      </li>
      <li class="nav__listitem <%= "nav__listitem-active" if @page == 'settings' %>">
        <%= link_to  "#", id:"settings-icon" do %>
          <p>Settings</p>
        <% end %>
      </li>
      <li class="nav__listitem">
        <%= link_to  destroy_user_session_path, method: :delete, id:"logout-icon" do %>
          <p>Log Out</p>
        <% end %>
      </li>
    </ul>
  </nav>
