<h1>Dashboard - <%= @active_profile.name %></h1>
<%= @invoices.first.nature %>
<%= @invoices.first.amount %>
<%= @invoices.first.date %>
Credit day : <%= @credit_day %>
Credit month : <%= @credit_month %>
<br>
<%= @payments.first.nature %>
<%= @payments.first.amount %>
<%= @payments.first.date %>
<%= @payments.first.company_paid %>
Debit day : <%= @debit_day %>
Debit month : <%= @debit_month %>
<br>
Balance : <%= @balance %>


<%= simple_form_for @new_invoice do |f| %>
  <%= f.input :amount, label: "Amount" %>
  <%= f.input :date, label: "Due date" %>
  <%= f.input :received, label: "Status" %>
  <%= f.hidden_field :nature, value: @new_invoice.nature %>
  <%= f.hidden_field :profile_id, value: @new_invoice.profile_id %>
  <%= f.submit "Create Invoice"%>
<% end %>

<%= simple_form_for @new_payment do |f| %>
  <%= f.input :amount, label: "Amount" %>
  <%= f.input :date, label: "Date" %>
  <%= f.input :company_paid, label: "Company" %>
  <%= f.input :description, label: "Description" %>
  <%= f.hidden_field :nature, value: @new_payment.nature %>
  <%= f.hidden_field :profile_id, value: @new_payment.profile_id %>
  <%= f.submit "Create Payment"%>
<% end %>
