<div id="dashboard" class="main">
  <div class="annual bg-white rounded">
    <h1>Dashboard - <%= @active_profile.name %></h1>
  </div>
  <div class="forms">
    <%= render  "transactions/invoice_form", new_invoice: @new_invoice %>

    <%= render  "transactions/payment_form", new_payment: @new_payment%>
    </div>
  <div class="calcs">
    <div class="calc-card">
      <% unless @invoices.empty? && @payments.empty? %>
        <h3>Balance</h3>
        <p class="number-bg">$<%= @balance %></p>
      <% end %>
    </div>
    <div class="calc-card">
      <% unless @credit_day.nil? %>
        <h3>Today</h3>
        <div class="sold-line">
          <p class="number-md">$<%= @credit_day %></p>
          <p>Credit</p>
        </div>
        <div class="sold-line">
          <p class="number-md">$<%= @debit_day %></p>
          <p>Debit</p>
        </div>
      <% end %>
    </div>
    <div class="calc-card">
      <% unless @credit_month.nil? %>
        <h3>Current month</h3>
        <div class="sold-line">
          <p class="number-md">$<%= @credit_month %></p>
          <p>Credit</p>
        </div>
        <div class="sold-line">
          <p class="number-md">$<%= @debit_month %></p>
          <p>Debit</p>
        </div>
      <% end %>
    </div>
  </div>

</div>
