<h1><%= @active_profile.name %></h1>

<% @invoices.each do |invoice| %>
  <%= invoice.amount %>
  <%= invoice.date %>
  <%= invoice.received %>
<% end %>

<%= render  "transactions/invoice_form", new_invoice: @new_invoice %>
