<div id="invoices" class="main">
  <div class="tb bg-white rounded p-3 m-3">
    <div class="table-title">
      <h1><%= @active_profile.name %></h1>
    </div>
    <div class="tb-content-titles">
      <label>Received</label>
      <label>Due Date</label>
      <label>Amount (in $)</label>
      <label></label>
    </div>
    <div class="table-content">
      <% @invoices.each do |invoice| %>
        <div class="tb-content-line">
          <% if invoice.received %>
            <div class="tb-content-line-item">
              <div class="circle green"></div>
            </div>
          <% else %>
            <div class="tb-content-line-item">
              <div class="circle red"></div>
            </div>
          <% end %>
          <span class="tb-content-line-item"><%= invoice.date %></span>
          <span class="tb-content-line-item"><%= invoice.amount %></span>
          <%= link_to transaction_path(invoice), method: :delete, data:{ confirm: "Are you sure you want to delete this transaction?"}, class:"tb-content-line-item" do%>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <%= render  "transactions/invoice_form", new_invoice: @new_invoice, page: @page %>
</div>
