<h1><%= @active_profile.name %></h1>


<% @payments.each do |payment| %>
  <%= payment.amount %>
  <%= payment.date %>
  <%= payment.received %>
<% end %>

<%= render  "shared/payment_form", new_payment: @new_payment %>
