<%= simple_form_for @new_invoice do |f| %>
  <div class="form-title">
    <h3>New invoice</h3>
    <%= f.submit "Create Invoice", class:"btn btn-outline-primary"%>
  </div>
  <%= f.input :amount, label: "Amount" %>
  <%= f.input :date, label: "Due date" %>
  <%= f.input :received, label: "Status" %>
  <%= f.hidden_field :nature, value: @new_invoice.nature %>
  <%= f.hidden_field :profile_id, value: @new_invoice.profile_id %>
  <%= f.hidden_field :page, value: @page %>
<% end %>
